# if_else Loop

In [1]:
n= float(input('Number ?'))
if n>0:
    print("abs value of n is:", n)
else:
    print("abs value of n is:", -n)
sumofnum=50+60
print(sumofnum)

Number ?2
abs value of n is: 2.0
110

In [4]:
n = eval(input("Enter the number: "))

for i in range (0,n):
    for j in range (0,i+1):
        print("*", end=" ")
    print()

Enter the number: 5
*
* *
* * *
* * * *
* * * * *

In [23]:
n= eval(input())
#k = n-1
for i in range (0,n):
    for j in range (0,n-1):
        print(end = " ")
    n=n-1
    for j in range(0,i+1):
        print("*", end=" ")
    print()

5
    *
   * *
  * * *
 * * * *
* * * * *

In [17]:
def triangle(n):
	
	# number of spaces
	k = n - 1

	# outer loop to handle number of rows
	for i in range(0, n):
	
		# inner loop to handle number spaces
		# values changing acc. to requirement
		for j in range(0, k):
			print(end=" ")
	
		# decrementing k after each loop
		k = k - 1
	
		# inner loop to handle number of columns
		# values changing acc. to outer loop
		for j in range(0, i+1):
		
			# printing stars
			print("* ", end="")
	
		# ending line after each row
		print()

# Driver Code
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

In [24]:
#NUMBER PATTERN
rows = 10
b = 0
for i in range(rows,0,-1):
  # print(i)
    b += 1
    for j in range(1, i + 1):
        print(b, end= " ")
    print()

1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6
7 7 7 7
8 8 8
9 9
10

In [2]:
name='animal'
animal_name='dog'
if name=='animal':
    if animal_name=='dog':
        print('valid animal')
        print('name entered is animal')
    else:
        print('i have given up')
        print('abc')
print('The name entered is not valid')

valid animal
name entered is animal
The name entered is not valid

# While Loop

In [3]:
a=0
while a<5:
    print(a, 'first print')
    a=a+1
    #print(a,'second print')

0 first print
1 first print
2 first print
3 first print
4 first print

In [ ]:
a=1
s=0  # enter 0 to quit
x=0
while a!=0:
    print("current Sum: ", s)
    a= float(input("Enter a No.:"))
    s=s+a
print("Total sum:",s)

In [ ]:
a=1
s=0 # enter 100 to quit
x=0
while a!=0 and s<=100:
    print("current Sum: ", s)
    a= float(input("Enter a No.:"))
    s=s+a
print("Total sum:",s)

In [ ]:
a=1
s=0
#x=0
print('Enter Number to add to sum')
print('Enter 0 to Quit')
while a!=0:
    print('current sum:', s)
    a= float(input("Enter number?:"))
    s=s+a
    if s>=100:
        a=0
print('Total sum:', s)

# For Loop

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [10]:
list1= [ 0,1,2,3,4,5,6]
#for a in list1:
#    print(a)
for index in range(0, len(list1)):
    list1[index] = list1[index] + 2
print(list1)

[2, 3, 4, 5, 6, 7, 8]

In [11]:
list1=['Apple','Banana','Dog']
for item in list1:
    if (item=='Dog'):
        print("HELLOW")
    else:
        print(item)

Apple
Banana
HELLOW

In [13]:
sum=0
for num in range(0,10):
    sum=sum+ num
print(sum)

45

# List_Comprehension

In [18]:
example = 'notseperatedstring'

In [20]:
list1=[]
for char in example:
    list1.append(char)
print([char for char in example])

['n', 'o', 't', 's', 'e', 'p', 'e', 'r', 'a', 't', 'e', 'd', 's', 't', 'r', 'i', 'n', 'g']

In [21]:
int_list = [1,3,12,3,8,6,1]

In [22]:
[integer for integer in int_list if integer%2 ==0]

[12, 8, 6]

In [24]:
["Even" if integer%2==0 else "odd" for integer in int_list] #List comprehension

['odd', 'odd', 'Even', 'odd', 'Even', 'Even', 'odd']

In [27]:
def abc(name):
    print("123", name)

In [28]:
abc('kiran')

123 kiran

In [29]:
def student_Score(name,score):
    print(name, "Scored", score, "Marks")

In [30]:
student_Score("kiran", 198)

kiran Scored 198 Marks

# DateTime

In [31]:
import datetime
datetime_obj= datetime.datetime.now()
print(datetime_obj)

2022-08-29 11:30:26.487055

In [39]:
date_obj=datetime.date.today() #Current date
print(date_obj)

2022-08-29

In [40]:
d=datetime.date(2020, 3, 27)
print(d)

2020-03-27

# Get Date from a timestamp

In [43]:
from datetime import date
timestamp=date.fromtimestamp(1326244364)
print("Date:", timestamp)

Date: 2012-01-11

# Get today's year, month, day

In [44]:
today=date.today()
print(today.year)
print(today.month)
print(today.day)

2022
8
29

# Time_object

In [49]:
from datetime import time
a=time()  # Time 00,00,00
print(a)
b=time(11,34,56)
print(b)
c=time(11,34,56,234566)
print(c)

00:00:00
11:34:56
11:34:56.234566

# Datetime.Timedelta : represents diff betwn two dates or times

In [54]:
from datetime import datetime, date
t1 = date(year= 2022, month = 8, day= 29)
t2 = date(year= 1995, month = 12, day= 29)
t3 = t1-t2
print(t3)

9740 days, 0:00:00

In [55]:
print("Type of t3:", type(t3))

Type of t3: <class 'datetime.timedelta'>

In [57]:
t3.days  #To get days from timedelta

9740

In [61]:
t4=datetime(year=2018,month=7,day=12,hour=7,minute=9,second=33)
t5=datetime(year=2019,month=6,day=10,hour=5,minute=55,second=10)
t6 = t5 - t4
print("t6:", t6)

t6: 332 days, 22:45:37

In [62]:
print("type of t6:", type(t6))

type of t6: <class 'datetime.timedelta'>

In [63]:
t6.total_seconds() #Total number of seconds

28766737.0

# Python format datetime
The way date and time is represented may be different places, organizations etc. It's more common to use mm/dd/yyyy in the US, whereas dd/mm/yyyy is more common in the UK and dd.mm.yyyy in Germany
Python has strftime() and strptime() methods to handle this.
# strftime()
The program below converts a datetime object containing current date and time to different string format.

In [65]:
from datetime import datetime
now=datetime.now()  # current date and time
print(now)

2022-08-29 22:29:17.918691

In [66]:
#Extracting year from date using strftime returns string as output
datetime.strftime(now,'%Y')

'2022'

In [67]:
month= now.strftime("%m")
print("month:", month)
day= now.strftime("%d")
print("day:", day)

month: 08
day: 29

In [68]:
time=now.strftime("%H:%M:%S")
print("time:", time)

time: 22:29:17

In [70]:
#Now we will convert this into us format
datetime.strftime(now,"%m/%d/%Y %H:%M:%S")

'08/29/2022 22:29:17'

In [72]:
#Extracting from timestamp
timestamp = 1528797322
date_time= datetime.fromtimestamp(timestamp)
print("Date time object", date_time)
d=date_time.strftime("%m/%d/%Y, %H:%M:%S")
print("Output 2 :", d)
d=date_time.strftime("%d %b, %Y")
print("Output 3 :", d)
d=date_time.strftime("%d %B, %Y")
print("Outpu 4:", d)
d=date_time.strftime("%I%p")
print("Outpu 5 :", d)

Date time object 2018-06-12 15:25:22
Output 2 : 06/12/2018, 15:25:22
Output 3 : 12 Jun, 2018
Outpu 4: 12 June, 2018
Outpu 5 : 03PM

# strptime
The strptime() method creates a datetime object from a given string.

In [81]:
date_string = "21 June, 2018"
print("date_string =", date_string)
print("type of date_string =", type(date_string))
date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)
print("type of date_object =", type(date_object))

date_string = 21 June, 2018
type of date_string = <class 'str'>
date_object = 2018-06-21 00:00:00
type of date_object = <class 'datetime.datetime'>

In [82]:
dt_string = "12/11/2018  09:15:32"
# Considering date is in dd/mm/yyyy format
dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")
print("dt_object =", dt_object1)
# Considering date is in mm/dd/yyyy fromat
dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
print("dt_object =", dt_object2)

dt_object = 2018-11-12 09:15:32
dt_object = 2018-12-11 09:15:32

In [83]:
date_object = datetime.strptime(date_string, '%d/%m/%Y')
print("date_object =", date_object)

ValueError: time data '21 June, 2018' does not match format '%d/%m/%Y'

# Write & Read the file

In [95]:
fh = open('abc1234.txt','w')
fh.writelines("This is line no.1")
fh.writelines("                 ")
fh.writelines("This is line no. 2")
fh.close()

In [96]:
fh = open('abc1234.txt','r')
print(fh.read())
fh.close()

This is line no.1                 This is line no. 2

In [97]:
'''w = create the file & write data
r = read the content from the file
w = create the file & write & read
r+ = read and write
a = append'''

'w = create the file & write data\nr = read the content from the file\nw = create the file & write & read\nr+ = read and write\na = append'

6