### Identifire

In [1]:
ac=2

In [2]:
Ac=3

In [3]:
print(Bc)  # Name Error

NameError: name 'Bc' is not defined

In [4]:
print(ac)

2

In [5]:
_d=2

In [6]:
1a=2    # Only character or underscore area allowed # Syntax Error

SyntaxError: invalid syntax (3243476878.py, line 1)

In [7]:
type(print)

builtin_function_or_method

In [8]:
print = 5

In [9]:
type(print)

int

In [10]:
print("Dipali")   # Type Error

TypeError: 'int' object is not callable

In [11]:
# After doing kernel Restart
type(print)

int

In [17]:
# Comments :-  1) Single line  and 2) Multiple Line
# Before statement hash include for Single line comment 
'''Statement enclosed in triple quotes
for ex'''

'Statement enclosed in triple quotes\nfor ex'

In [18]:
# Data Types: Numeric
var1 = 10
type(var1)

int

In [28]:
var2=10
id(var2)     # Adress of the variable where variable is stored

2378876086864

In [19]:
id(var1)   # id are same because num. is same

2378876086864

In [29]:
var2 = 20
id(var2)    # Number change id also changed

2378876087184

In [21]:
var3 = 10.0
type(var3)

float

In [22]:
del(var3)  # del keyword - Used to Delete variable

In [23]:
var3

NameError: name 'var3' is not defined

In [24]:
# !pip install python-math    # To install math library

In [25]:
import math

In [26]:
math.log(2)

0.6931471805599453

In [27]:
a = 3.7
math.floor(a)     # Lower integer, 3.7 nearly equal to 3

3

In [ ]:
math.ceil(a)   # Higher integer, 3.7 nearly equal to 4

#### library :- Class where lots of or bunch of functions ex- math, mathplotlib, seaborn are libraries
#### function :- it's a single function like ceil, floor, e, cos,sin, log, sqrt are functions

In [31]:
a=10.11
int(a)

10

# Operator

In [41]:
a=4.5      # Relational operator
b=10
a>b

False

In [42]:
a<b

True

In [43]:
a==b

False

In [44]:
a!=b

True

In [64]:
a = [1,20,25]   # Membership operator
25 in a

True

In [46]:
10 in a

False

### Length & Index

In [47]:
b = 'this \
is a test'
type(b)

str

In [48]:
b

'this is a test'

In [49]:
len(b)

14

In [52]:
b[0]  # Index = 13, it exclude by 1 i.e. (len-1)

't'

In [57]:
b[1:7]

'his is'

In [59]:
b[:-2]

'this is a te'

In [63]:
b*2   # Dubplicating string

'this is a testthis is a test'

In [78]:
a = 'one one was a race house, two two was one too'

In [79]:
a.replace('one','two')

'two two was a race house, two two was two too'

In [80]:
a.replace('one','Three', 1)

'Three one was a race house, two two was one too'

In [81]:
a.count("two")

2

In [82]:
a.split()

['one', 'one', 'was', 'a', 'race', 'house,', 'two', 'two', 'was', 'one', 'too']

In [83]:
''.join(a)

'one one was a race house, two two was one too'

In [84]:
a.replace('one','two')

'two two was a race house, two two was two too'

In [93]:
(4/(3*(2-1)) ) and (4/(3*(2-1)))

1.3333333333333333

In [96]:
x = int(43.55+2/2)
x

44

In [101]:
float('inf')

inf

In [99]:
float('nan')

nan

In [102]:
float('56'+'78')

5678.0

In [103]:
float('12+32')

ValueError: could not convert string to float: '12+32'

In [104]:
(1>3)-(1<3)

-1

In [107]:
2**(3**2)

512

In [108]:
(2**3)**2

64

In [109]:
2**3**2

512

In [110]:
2**3

8

In [111]:
float(22//3+3/3)

8.0

In [112]:
a = 'Hello World'
a[::-1]

'dlroW olleH'

In [115]:
"a"+"bc"

'abc'

In [117]:
"abcd"[2:]

'cd'

In [121]:
a = 'hello';a[-1:]

'o'

In [125]:
a = 'as'
b='sd'
a+b

'assd'

In [123]:
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [126]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [133]:
print ("\n hello")

TypeError: 'int' object is not callable

In [139]:
'sdmk' " Hel \n lo"

'sdmk Hel \n lo'

In [141]:
print('new''line')

TypeError: 'int' object is not callable

In [142]:
print('new''\t''line')

TypeError: 'int' object is not callable

In [144]:
print(0xA+0xB)

TypeError: 'int' object is not callable

In [147]:
l1 = [1,2,3,4,5,6,7,8,9]
l1.append([5,6,7])    # List of element added

In [148]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, [5, 6, 7]]

In [149]:
l1.extend([7,8,9])    # Individual element added

In [150]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, [5, 6, 7], 7, 8, 9]

In [151]:
l1.pop()   # Remove last element

9

In [152]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, [5, 6, 7], 7, 8]

In [153]:
l1.reverse()

In [154]:
l1

[8, 7, [5, 6, 7], 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [155]:
l1.remove(7)

In [156]:
l1

[8, [5, 6, 7], 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [158]:
l2 = [1,2,3,-1,-10]

In [159]:
l2.sort()

In [160]:
l2

[-10, -1, 1, 2, 3]

In [161]:
l2.sort(reverse=True)

In [162]:
l2

[3, 2, 1, -1, -10]

In [1]:
list1 = [3, 2, 1, -1, -10]

In [2]:
len(list1)

5

In [3]:
del(list1)

In [5]:
a = [1,2,3,2,3]

In [6]:
a.remove(2)

In [7]:
a

[1, 3, 2, 3]

In [8]:
a.index(3)

1

In [9]:
a.reverse()

In [10]:
a

[3, 2, 3, 1]

In [15]:
a = []
for i in range(10):
    a.append(i**2)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
sum = 0
for i in range(0,11):
    sum = sum +i
    print(sum)

0
1
3
6
10
15
21
28
36
45
55

In [41]:
n = eval(input())
for i in range(0,n+1):
    for j in range(0,i):
        print('*', end=' ')
    print()

5

*
* *
* * *
* * * *
* * * * *

In [46]:
a=[1,2,3]
a.append(4)

In [47]:
a

[1, 2, 3, 4]

In [50]:
a.insert(2,5)

In [51]:
a

[1, 2, 5, 3, 4, 2]

In [52]:
2 in a

True

In [54]:
a = [1, 2, 5, 3, 4, 2]
a.insert(a.index(5),'Sam')
print(a)

[1, 2, 'Sam', 5, 3, 4, 2]

In [57]:
tup1 = (1,)
tup1

(1,)

In [58]:
type(tup1)

tuple

In [59]:
del(tup1)

In [60]:
tup1

NameError: name 'tup1' is not defined

In [61]:
tup2 = (1,2,3,4,5)
tup2

(1, 2, 3, 4, 5)

In [63]:
tup2[2]

3

In [64]:
a = {'a':2, 'b':3}
b = {'E':5, 'D':6}
a|b

{'a': 2, 'b': 3, 'E': 5, 'D': 6}

In [73]:
a = {'a':2, 'b':3}
b = {'a':5, 'b':6}

In [74]:
a==b

False

In [75]:
print(list(a.keys()))

['a', 'b']

In [71]:
a['e']

KeyError: 'e'

In [77]:
a={}

In [78]:
print(len(a))

0