## Iterable

In [1]:
for x in [1,2,3]:
    print(x)

1
2
3

In [2]:
for x in [1,2,3]:
    print(x)
    print('hi')

1
hi
2
hi
3
hi

In [3]:
for x in [1,2,3]:
    print(x)
print('hi')

1
2
3
hi

In [4]:
for x in list1:
    print(x)

NameError: name 'list1' is not defined

In [5]:
for y in 'hello':
    print(y)

h
e
l
l
o

In [6]:
list2 = [1,5.5,'hi']
list2

[1, 5.5, 'hi']

In [7]:
tup2 = (4,7.7,'hello')
tup2

(4, 7.7, 'hello')

In [8]:
str2 = 'hello123'
str2

'hello123'

## Sequence methods

In [9]:
list1

NameError: name 'list1' is not defined

In [ ]:
3 in list1

In [ ]:
10 in list1

In [ ]:
10 not in list1

In [ ]:
str1

In [ ]:
'w' in str1

In [ ]:
'a' not in str1

## Concatenate

In [ ]:
list1 + list2

In [ ]:
tup1 + tup2

In [ ]:
'abc' + 'xyz'

## Repitition

In [ ]:
3 * 'abc'

In [ ]:
5 * list1

## Lenth,Min,Max

In [ ]:
list1

In [ ]:
len(list1)

In [ ]:
min(list1)

In [ ]:
max(list1)

In [ ]:
list2

In [ ]:
min(list2)

In [ ]:
list3 = [1,5,5.5,9.9,10]
list3

In [ ]:
min(list3)

In [ ]:
max(list3)

In [ ]:
len(list3)

## Index Position

In [ ]:
str1

In [ ]:
str1.index('w')

In [ ]:
str1.index('l',5)

In [ ]:
str1.index('o',5,9)

## Addition of elements

In [ ]:
list1

In [ ]:
list1.append(10)
list1

In [ ]:
list1.append([20,30])
list1

In [ ]:
tup1

In [ ]:
tup1.append(10)

In [ ]:
list1

In [ ]:
list1.insert(3,55)
list1

In [ ]:
list1[4]= 99
list1

In [ ]:
list1[1:4] = [55,66,77]
list1

## Remove elements

In [ ]:
lst = [10,20,30,40,50,60,70,80,90,100]
lst

In [ ]:
del lst[1:4]

In [ ]:
lst

In [ ]:
x = lst.pop(2)
x

In [ ]:
lst

In [ ]:
x = lst.pop()
x

In [ ]:
x=lst.remove(70)
x

In [ ]:
lst

In [ ]:
lst.clear()
lst

In [ ]:
x=tup1.pop()
x

In [ ]:
tup1.clear()
tup1

## Reverse

In [ ]:
lst = [10,20,30,40,500,50,60,99,70,80,90,100]
lst

In [ ]:
lst.reverse()

In [ ]:
lst

In [ ]:
lst = [10,20,30,77,11,40,50,60,70,99,80,90,100]

In [ ]:
lst[::-1] # This is applicable for all sequences,This will not change the original list

In [ ]:
lst

## Sort

In [ ]:
lst

In [ ]:
lst.sort()

In [ ]:
lst

In [ ]:
lst.sort(reverse = True)
lst

In [ ]:
list3 = ['c','c++','python','java','apple123']
list3

In [ ]:
list3.sort()
list3

In [ ]:
def myfunc(x):
    return len(x)

In [ ]:
list3.sort(key=myfunc)
list3

## Tuple

In [ ]:
tup = ([1,2,3,4],[5,6,7,8])

In [ ]:
tup[0]

In [ ]:
tup[0].append(44)

In [ ]:
tup

## String

In [ ]:
my_str = "python"
my_str

In [ ]:
my_str.capitalize()

In [ ]:
my_str1 = "hello world"
my_str1.capitalize()

In [ ]:
my_str1.title()

In [ ]:
my_str1.lower()

In [ ]:
my_str1.upper()

In [ ]:
'PYTHON'.lower()

In [ ]:
'Python'.swapcase()

In [ ]:
'python'.endswith('on'), 'python'.endswith('ab')

In [ ]:
'python'.startswith('py'), 'python'.startswith('cd')

In [ ]:
my_str.startswith('py')

In [ ]:
my_str = 'pyttthon'

In [ ]:
my_str.find('t')

In [ ]:
my_str.find('a')

In [ ]:
str1 = 'python3'
str1

In [ ]:
str1.isalpha(),str1.isalnum(),str1.isnumeric()

In [ ]:
str2 = '123'
str2.isalpha(),str2.isalnum(),str2.isnumeric()

In [ ]:
' '.isspace(), ''.isspace()

In [ ]:
'  python  '.strip()

In [ ]:
'   python    '.lstrip()

In [ ]:
'   python    '.rstrip()

In [ ]:
'1,2,3'.split(',')

In [ ]:
'ab;cd;ef'.split(';')

In [ ]:
# count() method returns the number of occurrences of the substring in the given string.
x = "Welcome to python basics"
x

In [ ]:
count1 = x.count("o")
count1

In [ ]:
# print count
print("The count is:", count1)

In [ ]:
# define string
string = "Python is awesome, isn't it"
string

In [ ]:
string[6]

In [ ]:
string[25]

In [ ]:
substring = " "

In [ ]:
# count after first 'i' and before the last 'i'
count1 = string.count(substring, 4, 25)
count1

In [ ]:
# Replace 
x='It is very nice,it is excellent'
x

In [ ]:
y=x.replace("is","was")
y

In [ ]:
y=x.replace('is','was',1)
y

## Variable unpacking

In [10]:
x,y,z = [1,2,3]
x,y,z

(1, 2, 3)

In [11]:
a,b,c = (5,6,7)
a,b,c

(5, 6, 7)

In [12]:
x,y,z = 'abc'
x,y,z

('a', 'b', 'c')

## Dictionaries

In [13]:
dict1 = {'Name':'shafi','Age':35}
dict1

{'Name': 'shafi', 'Age': 35}

In [14]:
# Accessing values in a dictionary
dict1['Name']

'shafi'

In [15]:
dict1['Age']

35

In [16]:
## Updating dictionary
dict1['Name']='adam'
dict1

{'Name': 'adam', 'Age': 35}

In [17]:
dict1['location']= 'Bengalore'
dict1

{'Name': 'adam', 'Age': 35, 'location': 'Bengalore'}

In [18]:
## Delete dictionary elements
del(dict1['Name'])

In [19]:
dict1

{'Age': 35, 'location': 'Bengalore'}

In [20]:
dict1.clear()

In [21]:
dict1

{}

In [22]:
del(dict1)

In [23]:
dict1

NameError: name 'dict1' is not defined

## Sets

In [24]:
## Sets have unique values
## Sets doesnot have positional ordering
s1 = {1,2,3,4}
s1

{1, 2, 3, 4}

In [25]:
s1[0]    # We can't access the elements with index

TypeError: 'set' object is not subscriptable

In [26]:
a = [3,5,5,5,7]
set(a)

{3, 5, 7}

In [27]:
s2 = {11,2,55,66,8}
s2

{2, 8, 11, 55, 66}

In [28]:
list1=[22,11,33,12,25]
list1

[22, 11, 33, 12, 25]

In [29]:
for i in s2:
    print(i)

2
66
55
8
11

In [30]:
s1 = {}
type(s1)

dict

In [31]:
s1 = set()
type(s1)

set

In [32]:
len(s1)

0

In [33]:
s1 = {1,'a',(1,2),9.9} # it is taking only immutable data types
s1

{(1, 2), 1, 9.9, 'a'}

In [34]:
s3 = {1,[1,2,3],5.5,(1,3)} # it is not taking mutable data type list
s3

TypeError: unhashable type: 'list'

In [35]:
s1 = set([10,33,4,5])
s1

{4, 5, 10, 33}

In [36]:
s2 = set((11,2,35,4))
s2

{2, 4, 11, 35}

In [37]:
s3 = set('python')
s3

{'h', 'n', 'o', 'p', 't', 'y'}

In [38]:
s4 = set('hiiiiiiiiiiii')
s4

{'h', 'i'}

## Range

In [39]:
for i in range(1,5):
    print(i)

1
2
3
4

In [40]:
s5 = set(range(1,10))
s5

{1, 2, 3, 4, 5, 6, 7, 8, 9}