In [51]:
s_name = "Data Science"
len(s_name)
s_name.upper()
s_name.lower()
s_name.casefold()
s_name.upper()
s_name.casefold()  #Convert all uppercase characters to lower
s_name.center(50)
s_name.count("a")   #return index of given no.
#s_name.encode()
s_name.endswith("e") #True if end with element
s_name.endswith("P")
s_name.expandtabs() #Print in Original format
s_name.upper()
s_name.expandtabs()
s_name.find("t")
s_name.find("Z")  # return -1 if element is not present
s_name.format()    #Print original format
s_name.index("S")    #Return index
s_name.format_map("a")  ##Print original format
s_name.isalnum()  #False
s_name.isalpha()   #False
s_name.isascii()  #True
s_name.isdecimal()   #False
s_name.isdigit()   #False
s_name.isidentifier()   #False

False

In [174]:
s_name.center(80)

'                                  Data Science                                  '

In [3]:
import numpy as np
from scipy import stats

In [6]:
array = np.array([34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56])
print(np.mean(array))
print(np.median(array))
print(np.std(array))
print(np.var(array))
print(stats.mode(array))

41.0
40.5
4.910306620885412
24.11111111111111
ModeResult(mode=array([41]), count=array([4]))

In [8]:
import pandas as pd
data = pd.read_csv("Cars.csv")
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [9]:
array = np.array([3.9,3.9,3.85,3.08,3.15,2.76,3.21,3.69,3.92,3.92,3.92,3.07,3.07,3.07,2.93,3,3.,3,4.,8,4.,3,4.,2,3.,2.7,3.15,3.73,3.08,4.08,4.43,3.77,4.22,3.62,3.54,4.11])
print(np.mean(array))
print(np.median(array))
print(np.std(array))
print(np.var(array))
print(stats.mode(array))

3.5797222222222222
3.58
0.9168438801766001
0.8406027006172839
ModeResult(mode=array([3.]), count=array([5]))

In [2]:
import numpy as np
array= np.array([44,50,38,96,42,47,40,39,46,50])
print(np.mean(array))
print(np.median(array))
print(np.var(array))
print(np.std(array))

49.2
45.0
259.96
16.123275101541868